body{
    margin: 0;
}
:root{
    --boolando-primary: rgba(255, 105, 0, 1);
    --boolando-dark: rgba(26, 26, 26, 1);
}

/* region footer */
header{
    background-color: var(--boolando-primary);
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

ul{
    list-style: none;
}